p.solid {border-style: solid;}
.placeslist{
    display: flex;
    float: right;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
   }
/*.place-name{
    display: inline-block;
    text-align: center;
    position: absolute;
}*/
.place-img{
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    display: block;
    border-style: groove;
    align-items: center;
    

}
