p.solid {
	border-style: groove;
}

.section-state {
    display: flex;
    padding: 15px;
    margin:15px;
}

.section-state-name {
    display: inline-block;
    text-align: center;
    position: absolute;
}

.section-state-img {
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    display: block;
    border-style: groove;
 
}