.component-header {
    padding: 15px;
    position: relative;
    font-weight: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 64px;
    text-align: center;
    color: blue;
    background-color: greenyellow;
  }
  