.component-Tamilnadu {
    padding: 15px;
    position: relative;
    font-weight: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: greenyellow;
    

}
/* margin: 5px;
border: 1px solid #cccccc;
float: left;
width: 300px;
padding: 30px;
text-align: center;*/




  
  
  /*.component-Ooty-gallery {
    border: 1px solid #ccc;
  }
  .component-Ooty-responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  .component-Ooty-desc {
    padding: 15px;
    text-align: center;
  }
  */
  
  